{% extends 'base.html' %}
{% load render_table from django_tables2 %}
       {% block content %}
<h1>Student list</h1>

<!-- <form method="get" action="">
    <p>Name: <input type="text" value={{sname}} name="filter"/></p>
    <p>Phone Number: <input type="text" value={{scontact}} name="orderby"/></p>
    <p><input type="submit" name="submit" value="submit"/></p>
</form> -->
<!-- {% render_table object_list %} -->

<table class="table table-striped table-bordered table-sm">  
    <thead class="thead-dark">  
    <tr>  
        <th>Student ID</th>  
        <th>Student Name</th>  
        <th>Student Email</th>  
        <th>Student Contact</th>  
        <th>Student City</th> 
        <th>Student DOB</th> 
        <th>Student Gender</th> 
       
    </tr>  
    </thead>  
    <tbody>  
{% for student in object_list %}  
    <tr>  
        <td>{{ student.sid }}</td>  
        <td>{{ student.sname }}</td>  
        <td>{{ student.semail }}</td>  
        <td>{{ student.scontact }}</td>
        <td>{{ student.scity }}</td>
        <td>{{ student.sdob }}</td>
        <td>{{ student.gender }}</td>
    </tr>  
{% endfor %}  
    </tbody>  
</table>  
<!-- <ul>
{% for student in object_list %}
    <li>{{ student.sid }} - {{ student.sname }} </li>
{% empty %}
    <li>No articles yet.</li>
{% endfor %}
</ul> -->

{% if page_obj.has_other_pages %}
    <ul class="pagination">
        {% if page_obj.has_previous %}
            <li  class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
            {% else %}
            <li class="disabled page-item"><span class="page-link">&laquo;</span></li>
            {% endif %}
            {% for i in page_obj.paginator.page_range %}
            {% if page_obj.number == i %}
            <li class="active page-item"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
            {% else %}
            <li><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
            {% else %}
            <li class="disabled page-item"><span class="page-link">&raquo;</span></li>
        {% endif %}
    </ul>
{% endif %}


<!-- {% if is_paginated %}
<div class="pagination">
    <span class="page-links">
        {% if page_obj.has_previous %}
            <a href="/student/list?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}
        <span class="page-current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>
        {% if page_obj.has_next %}
            <a href="/student/list?page={{ page_obj.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
{% endif %}
{% endblock content %} -->